.Article{
    display: flex;
    flex-direction: column;
}

.Article textarea{
    width: 80%;
    border-radius: 10px;
}

.Article2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Article2 input{
    width: 60%;
    padding: 8px 0px;
    border-radius: 21px;
}

.Article2 p{
    padding-right: 20px;
    font-size: large;

}

.Article3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    position: relative;
    left: 150px;
}

.Article3 textarea{
    background-color: white;
    transition:all 2s ease;

}
.Article3 textarea:hover{
    background-color: black;
    color: whitesmoke;
    
}

.Article4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;

}

.Article4 p{
    padding: 0px 20px;
    font-size: x-large;
}

.Article4 input{
    width: 50%;
    padding: 10px;
    border-radius: 20px;
}

button{
    width: 10%;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    align-self:center;
    box-shadow: 0 0 5px whitesmoke;
    transition: all 1.3s ease-in;

}

button:hover{

box-shadow: 0 0 5px whitesmoke, 0 0 25px whitesmoke, 0 0 50px whitesmoke, 0 0 100px whitesmoke, 0 0 200px whitesmoke;
}

